*{
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Source+Code+Pro&display=swap');

@font-face {
    font-family: CrackedCode;
    src: url('../font/CrackedCode.ttf');
}
@font-face {
    font-family: android;
    src: url('../fonts/android-7.regular.ttf');
}

@font-face {
    font-family: pdark;
    src: url('../font/pdark.ttf');
}

@font-face {
    font-family: circuitboard;
    src: url('../font/Circuitboard-pnEy.ttf');
}

body {
    background-color: rgb(9,12,43);
    /* background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); */
    background-image: linear-gradient(to right, rgb(42,10,77),rgb(07,47,96));
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    width: 100vw;
    overflow: hidden;
    color: grey;
}

body::-webkit-scrollbar {
    display: none;
}

.topnav {
    position: fixed;
    overflow: visible;
    background-color: rgba(0, 0, 0, 0.6);
    top: -12vh;
    transition: top 0.2s;
    z-index: 10;
    height: 12vh;
    /* vertical-align: middle; */
    /* z-index: ; */
}
  
.topnav a {
    float:left;
    /* display: block; */
    color: #f2f2f2;
    text-align: center;
    padding-top: 12px;
    text-decoration: none;
    font-size: 17px;
    height: 10vh;
    font-weight:700;
    /* vertical-align: middle; */
    /* overflow: hidden; */
}
/* center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */
/* .topnav a:hover {
    background-color: #ddd;
    color: black;
} */

.topnav a.active {
    margin-top: 3vh;
    height: 6vh;
    width: 10vw;
    background-color: #0dc8c4;
    color: white;
}

.topnav a.passive {
    margin-top: 3vh;
    height: 6vh;
    width: 10vw;
    background-color: #fd9207;
    color: white;
}

.topnav a.blank {
    position: relative;
    margin-top: 3vh;
    height: 6vh;
    width: 30vw;
    background-color: #fd9207;
    color: white;
}

.topnav a.img {
    display: none;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 900px) {
    .topnav {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.6);
        height: 10vh;
    }
    .topnav a{
        height: 9vh;
    }
    .topnav a.res {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
      width: 12vw;
      /* margin-left: 37vw; */
      padding-right: 5vw;
      padding-top: 2.3vh;
    }
    .topnav a.img{
        display: block;
        padding-top: 1vh;
        width: 88vw;
        text-align: left
        /* padding-top: 200px; */
    }
}
  
@media screen and (max-width: 900px) {
    .topnav.responsive {position: fixed;}
    .topnav.responsive .icon {
      position: fixed;
      right: 0;
      top: 0;
      /* padding-right: 5vw; */
    }
    .topnav.responsive .list-res {
        display: none;
      }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .topnav a.active {
        margin-top: 0vh;
        height: 6vh;
        width: 100vw;
        background-color: #fd9207;
        color: white;
        padding-left: 30px;
    }
    .topnav a.passive {
        margin-top: 0vh;
        height: 6vh;
        width: 100vw;
        background-color: #fd9207;
        color: white;
        padding-left: 30px;
    }      
}
/*---------------------------------------
   Footer section              
-----------------------------------------*/

footer {
    background: #000000;
    color: #ffffff;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

footer p{
    color: #707070;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.4px;
    text-decoration: none !important;
    outline: none;
    font-family: 'Lora', sans-serif
}

footer .col-md-5 {
    position: relative;
    left: 100px;
}

footer .col-md-5 div {
    padding-top: 10px;
}

footer h4 {
    margin-top: 0px;
    color: #999;
    letter-spacing: 2px;
    margin-top: 22px;
    font-family: 'Lora', sans-serif
}

footer .copyright-text {
    padding-top: 30px;
    text-align: center;
    color: #707070;
    transition: all 0.4s ease-in-out;
}

.copyright-text a:hover {
    color: #ffffff;
}


/*---------------------------------------
   Social icon             
-----------------------------------------*/

.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
}

.social-icon li {
    display: inline-block;
    list-style: none;
}

.social-icon li a {
    color: #999;
    border-radius: 100px;
    font-size: 70px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    vertical-align: middle;
}

.social-icon li a:hover {
    background: #ffffff;
}
/* .footer {
    bottom: 0;
    width: 100vw;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
}
.footer h1{
    text-align: center;
    font-size: 5em;
    font-weight: 900;
}

.fr{
    text-align: center !important;
    padding-top: 4vh;
    padding-bottom: 2vh;
}

.fr a:active{
    text-align: center !important;
    padding-bottom: 1vh;
    color: red;
} */

.mouse {
    font-size:30px;color:white;
}
.mouse:hover{
    margin-top: -10em;
    transition: 0.5s;
    color: rgb(83, 83, 83);
}
.mouse-wrap{
    margin-top: -18vh;
    text-align: center;
}
@media screen and (max-width: 900px) {
    footer {
        text-align: center;
    }
    footer .col-md-5 {
        left: 0px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .mouse-wrap{
        margin-top: -5vh;
        text-align: center;
    }   
}